# # --- Python 虚拟环境 (最重要，防止上传 lib 和 scripts) ---
  #.venv/
  #venv/
  #ENV/
  #env/
  #
  ## --- Python 运行产生的缓存 ---
  #__pycache__/
  #*.pyc
  #*.pyo
  #*.pyd
  #
  ## --- IDE (PyCharm) 配置文件 ---
  #.idea/
  #.vscode/
  #
  ## --- 操作系统临时文件 ---
  #.DS_Store
  #Thumbs.db
  #
  ## --- 本地测试产生的数据或日志 (可选) ---
  #*.logcreated by virtualenv automatically
.venv/Lib
